body {
	margin: 0;
	padding: 0;
    text-align: center;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.main-div a {
	color:azure;
}

.dleverytaingun {
    min-width: 17em;
    padding-left: 12px;
    padding-right: 15px;
    border: 2px solid #797676;
    margin: 3em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mealitykadsets {
    overflow: hidden;

    width: 100%;
    border-color: inherit;
}

.stryconnectivi {
    float: left;
    margin: 0 3px;
    font-size: 17px;
    font-weight: bold;
    color: #0d5f1b;
}

.sibletosalarger {
    float: right;
    margin: 0 8px 0 9px;
    font-size: 17px;
    font-weight: bold;
    color: #0b5417;
}

.kagkopam {
    position: relative;
    left: 3px;

    display: block;
    overflow: hidden;

    border-bottom: 2px solid;
    border-color: inherit;
    margin: 7.5px 0 0 0;
}

.content {
    padding: 1em 0;
}
#sign-img {
	height: 200px;
	width: 350px;
}

.main-div img {
	height: 400px;
	width: 500px;
    border-radius: 20px;
    border:solid lightblue;
}

.btn {
	text-decoration: none;
	color: #6b5770;
	background-image: linear-gradient(90deg, #fd7f34, #bd155b);
	display: inline-block;
	padding: 14px 30px;
	border: 1px solid;
	position: relative;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}

.btn:before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #fd7f34, #bd155b);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}
.btn:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}
.btn:hover {
	color: #fff;
	transition: .3s;
}
.btn:hover:after {
	background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.btn:active:after {
	background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px #fd7f34;
}
.btn:disabled {
	pointer-events: none;
}
.btn:disabled:before {
	filter: grayscale(100%);
}
