
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Graphik', sans-serif;
}

.fixed-container {
    width: 960px;
    margin: 0 auto;
}

#blue-bar {
    color: aliceblue;
    background-color: cornflowerblue;
    padding: 20px 100px;

}

#blue-bar a {
    color: aliceblue;
}

#logo {
    position: relative;
    top: 40px;

}

#info {
    margin-top: 25px;
}

#date-time {
    float: right;
}

#date-today {
    position: absolute;
    top: 10px;
    left: 800px;
    color: gray;
}

#hours {
    position: absolute;
    top: 12px;
    left: 930px;
    color: gray;
}

#wheather {
    position: absolute;
    top: 4px;
    left: 1020px;
    color: gray;
}

#input {
    position: absolute;
    top: 10px;
    left: 1200px;
}

#menu {
    text-align: center;
}

#news {
    margin-top: 100px;
}

#column-left {
    background-color: blue;
    float: left;
    width: 250px;
}

#column-center {
    background-color: brown;
    float: left;
    width: 420px;
    margin-left: 20px;
}

#column-right img {
    margin-bottom: 10px;
}

#column-right {
    float: right;
    width: 250px;
}

#special-news .fixed-container {
    margin-top: 20px;
}

nav.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    width: 1300px;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
}

nav.primary-navigation li a {
    color: black;
}

nav.primary-navigation li a:hover {
    color: #3ca0e7;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3CA0E7;
}

ul li ul li a {
    transition: all 0.5s ease;
}

.d1 input {
    position: absolute;
    top: 0px;
    left: 1200px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #3CA0E7;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.d1 button {
    top: 0;
    position: absolute;
    top: 0px;
    left: 1381px;
    width: 42px;
    height: 36px;
    float: right;
    border: none;
    background: #3CA0E7;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.d1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}